.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.heading404{
    color: grey;
    font-size: 80px;
}
.home_btn{
    margin: 5px;
    padding: 5px;
    color: black;
    background-color: #7de274;
    border: 1px solid #7de274;
    border-radius: 5px;
}
.home_btn:hover{
    background-color: #4eb744;
    border: 1px solid #4eb744;
}