<div class="p-4">
  <h1 class="text-2xl font-bold text-center mb-4">Appointment List</h1>

  <!-- FILTER COMPONENT -->
  <app-appointment-filter
    (applyFilter)="onApplyFilter($event)"
    (resetFilter)="onResetFilter()"
  >
  </app-appointment-filter>

  <!-- ACTION BAR -->
  <div class="flex justify-between my-3">
    <button

      class="btn btn-primary"
      (click)="exportCSV()"
    >
      Export CSV
    </button>
  </div>

  <!-- LOADING -->
  <div *ngIf="loading" class="text-center py-6">
    <span class="loading loading-spinner loading-lg"></span>
    <p class="mt-2">Loading appointments...</p>
  </div>

  <!-- TABLE -->
  <ngx-datatable
    *ngIf="!loading"
    class="material"
    [rows]="appointments"
    [columnMode]="'force'"
    [headerHeight]="50"
    [rowHeight]="'auto'"
  >
    <!-- PATIENT -->
    <ngx-datatable-column name="Patient">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.patient?.first_name }} {{ row.patient?.last_name }}
      </ng-template>
    </ngx-datatable-column>

    <!-- DOCTOR -->
    <ngx-datatable-column name="Doctor">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.doctor?.name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Practice Location">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.practice_location?.location_name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Created-by">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.created_by?.name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Appointment Type">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row?.appointment_type }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="specialty">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.specialty?.specialty_name }}
      </ng-template>
    </ngx-datatable-column>

    <!-- DATE -->
    <ngx-datatable-column name="Date">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.appointment_date | date: "dd-MM-yyyy" }}
        {{ row.appointment_time }}
      </ng-template>
    </ngx-datatable-column>

    <!-- STATUS -->
    <ngx-datatable-column name="Status">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span class="badge badge-info">
          {{ row.status }}
        </span>
      </ng-template>
    </ngx-datatable-column>

    <!-- ACTIONS -->
  <ngx-datatable-column name="Actions">
    <ng-template ngx-datatable-cell-template let-row="row">

      <!-- EDIT -->

      <button

        class="btn btn-sm btn-warning btn-square mr-1"
        [routerLink]="['/appointments/edit', row.id]"
        title="Edit">

         <i-lucide icon="pencil" class="w-4 h-4"></i-lucide>
      </button>

      <!-- COMPLETE -->

      <button

        class="btn btn-sm btn-success btn-square mr-1"
        (click)="service.updateStatus(row.id, { status: 'Completed' })"
        title="Complete">
         <i-lucide icon="check" class="w-4 h-4"></i-lucide>
      </button>


      <!-- DELETE -->

      <button

        class="btn btn-sm btn-error btn-square"
        (click)="delete(row.id)"
        title="Delete" >
        <i-lucide icon="trash-2" class="w-4 h-4"></i-lucide>
      </button>
    </ng-template>
  </ngx-datatable-column>
  </ngx-datatable>

  <!-- PAGINATION -->
 <div *ngIf="paginationData && paginationData.last_page > 1" class="mt-4">
    <app-pagination
      [pagination]="paginationData"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination>
  </div>

  <!-- EMPTY STATE -->
  <div
    *ngIf="!loading && appointments.length === 0"
    class="text-center py-8 text-gray-500"
  >
    No appointments found.
  </div>
</div>
