
<div class="p-4 space-y-4">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold">My Appointments</h2>
  </div>
  <div class="card bg-base-100 shadow-md">
    <div class="overflow-x-auto">
      <table class="table">

        <thead>
          <tr>
            <th>Patient</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngIf="appointments.length === 0">
              <td colspan="6" class="text-center py-6 text-gray-400">
                No appointments found
              </td>
            </tr>

            <tr *ngFor="let app of appointments; trackBy: trackByAppointment" (click)="selectAppointment(app)" class="hover:bg-base-200 cursor-pointer">
              <td>
                {{ app.patient.first_name }} {{ app.patient?.last_name }}
              </td>


            <td>
              {{ app.practice_location?.location_name }}
            </td>

            <td>
              {{ app.appointment_date | date:'mediumDate' }}
            </td>

            <td>
              {{ app.appointment_time }} - {{ app.end_time }}
            </td>

            <td>
              <span class="badge" [ngClass]="{
                'badge-success': app.status === 'Confirmed',
                'badge-warning': app.status === 'Pending',
                'badge-error': app.status === 'Cancelled'
              }">
                {{ app.status }}
              </span>
            </td>

            <td>
              <button class="btn btn-xs btn-primary"
                (click)="openStatusModal(app); $event.stopPropagation()">
                Update
              </button>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div> 
