<div class="p-6 space-y-6">
  <!-- STATS ROW (ONE LINE) -->
<div style=" height: 180px;" class="flex gap-4 flex-nowrap h-[100px]">

  <div  class="stat bg-base-100 shadow rounded-box h-10px">
    <div   class="stat-title">Total Patients</div>
    <div class="stat-value text-primary">{{ totalPatients }}</div>
  </div>

  
  <div class="stat bg-base-100 shadow rounded-box">
    <div class="stat-title">Appointments</div>
    <div class="stat-value text-accent">{{ totalAppointments }}</div>
  </div>
  
  <div class="stat bg-base-100 shadow rounded-box">
    <div class="stat-title">Cases</div>
    <div class="stat-value text-warning">{{ totalCases }}</div>
  </div>
  
  <div class="stat bg-base-100 shadow rounded-box">
    <div class="stat-title">Active Doctors</div>
    <div class="stat-value text-secondary">{{ totalDoctors }}</div>
  </div>
</div>

  <!-- CHARTS -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">

    <!-- BAR CHART -->
    <div class="bg-base-100 p-1 shadow rounded-box">
      <h2 class="font-bold mb-3">Appointments Trend</h2>
      <canvas id="appointmentChart"></canvas>
    </div>

    <!-- PIE CHART -->
    <div class="bg-base-100 p-4 shadow rounded-box">
      <h2 class="font-bold mb-1">Visit Type Distribution</h2>
      <canvas id="visitTypeChart"></canvas>
    </div>

  </div>

</div>