<div class="flex gap-3 items-end mb-4">

  <input type="text"
    class="input input-bordered w-full max-w-xs"
    placeholder="Search..."
    [(ngModel)]="search" />

  <select class="select select-bordered"
    [(ngModel)]="status">
    <option value="all">All</option>
    <option value="active">Active</option>
    <option value="inactive">Inactive</option>
  </select>

  <button class="btn btn-primary" (click)="onApply()">Apply</button>
  <button class="btn" (click)="onReset()">Reset</button>

</div>
