<div class="filter-container">

  <div class="filter-grid">

    <!-- Loop filters -->
    <div *ngFor="let field of fields" class="filter-item">

      <!-- TEXT -->
      <input
        *ngIf="field.type === 'text'"
        type="text"
        [placeholder]="field.label"
        [(ngModel)]="filterValues[field.key]"
        (ngModelChange)="onChange()"
      />

      <!-- SELECT -->
      <select
        *ngIf="field.type === 'select'"
        [(ngModel)]="filterValues[field.key]"
        (change)="onChange()">

        <option value="">All {{ field.label }}</option>

        <option *ngFor="let opt of field.options" [value]="opt">
          {{ opt }}
        </option>
      </select>

      <!-- DATE RANGE -->
      <div *ngIf="field.type === 'dateRange'" class="date-range">

        <input
          type="date"
          [(ngModel)]="filterValues[field.key + '_from']"
          (change)="onChange()"
        />

        <input
          type="date"
          [(ngModel)]="filterValues[field.key + '_to']"
          (change)="onChange()"
        />

      </div>

    </div>

    <!-- Reset Button -->
    <button class="reset-btn" (click)="reset()">
      Reset
    </button>

  </div>

</div>
